In [1]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import pandas as pd
from sklearn.datasets import load_iris

# Collecting the data

In [2]:
iris = load_iris()
X = iris.data
y = iris.target

# Standardize the data

In [3]:
X = StandardScaler().fit_transform(X)

# Create a dataframe

In [4]:
iris_df = pd.DataFrame(X, columns=iris.feature_names)
iris_df['Target'] = y
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target
0,-0.900681,1.019004,-1.340227,-1.315444,0
1,-1.143017,-0.131979,-1.340227,-1.315444,0
2,-1.385353,0.328414,-1.397064,-1.315444,0
3,-1.506521,0.098217,-1.283389,-1.315444,0
4,-1.021849,1.249201,-1.340227,-1.315444,0

# Performing PCA

In [5]:
pca = PCA(n_components=2) #compress the data into 2 columns instead of 4 
X_new = pca.fit_transform(iris_df.iloc[:,:-1])

In [6]:
compressed_df = pd.DataFrame(X_new, columns=['PCA1','PCA2'])
compressed_df.head()

       PCA1      PCA2
0 -2.264703  0.480027
1 -2.080961 -0.674134
2 -2.364229 -0.341908
3 -2.299384 -0.597395
4 -2.389842  0.646835

# Seeing the data loss

In [7]:
explained_variance = 1 - sum(pca.explained_variance_ratio_)
print(f'The proportion of data lost is {explained_variance:.3%}')

The proportion of data lost is 4.187%